
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme</title>

    <h2>allahım allahıım</h2>
</head>
<body>
</body>
</html>
